
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: red;
}

.itemColumn {
  display: contents;
  flex-direction: column;
}

.itemNormal{
  width: 60px;
  length: 60px;

}

.itemChecked{
  width: 60px;
  length: 60px;
  border: firebrick 6px dotted;
}

.colCustom {
  position: relative;
  width: 50px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border: firebrick 2px dotted;
}

.auctionRows{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.square {
  background: #fff;
  border: 3px solid;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.small-button{
  height: 40px;
  width: 150px;
  border: 3px solid;
}

.small-input{
  height: 40px;
  width: 150px;
  border: 3px solid;
}




